# Homework 1: playing with pandas dataframe

In [1]:
from scipy.io import arff
import pandas as pd

In [4]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])
df['bankruptcy'] = (df['class']==b'1')
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,bankruptcy
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0',False
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0',False
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0',False
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0',False
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0',False

To create a new dataframe(df1) with only 4 feataures:

In [7]:
df1=df[['Attr1','Attr2','Attr7','Attr10','bankruptcy']]
df1.columns=['X1','X2','X7','X10','bankruptcy']
df1.head()

         X1       X2        X7      X10  bankruptcy
0  0.159290  0.46240  0.189480  0.38330       False
1 -0.127430  0.46243 -0.127430  0.53757       False
2  0.070488  0.23570  0.086895  0.67689       False
3  0.136760  0.40538  0.136760  0.58938       False
4 -0.110080  0.69793 -0.110080  0.30207       False

To fill in the missing values:

In [8]:
df1.fillna('mean',axis=1)

             X1       X2        X7      X10  bankruptcy
0       0.15929   0.4624   0.18948   0.3833       False
1      -0.12743  0.46243  -0.12743  0.53757       False
2      0.070488   0.2357  0.086895  0.67689       False
3       0.13676  0.40538   0.13676  0.58938       False
4      -0.11008  0.69793  -0.11008  0.30207       False
...         ...      ...       ...      ...         ...
9787  0.0046759  0.54949  0.013002  0.43205        True
9788   -0.02761  0.60748  -0.02761  0.33509        True
9789   -0.23829  0.62708  -0.24036   0.1776        True
9790   0.097188    0.753   0.10428    0.247        True
9791   0.021416  0.48678  0.027253  0.51267        True

[9792 rows x 5 columns]

(1) The mean and std of the 4 features among all companies.

In [33]:
print('overall mean:\n',df1.iloc[:,0:4].mean())
print('overall std:\n',df1.iloc[:,0:4].std())

overall mean:
 X1     0.043019
X2     0.596404
X7     0.059446
X10    0.389040
dtype: float64
overall std:
 X1     0.359321
X2     4.587122
X7     0.533344
X10    4.590299
dtype: float64

(2) The mean and std of the 4 features among bankrupt(the second row) and still-operating(the first row) companies.

In [34]:
print('grouped mean:\n',df1.groupby('bankruptcy').mean())

grouped std:
                   X1        X2        X7       X10
bankruptcy
False       0.049231  0.580750  0.066163  0.404901
True       -0.068873  0.878355 -0.061538  0.103367

In [35]:
print('grouped std:\n',df1.groupby('bankruptcy').std())

grouped std:
                   X1        X2        X7       X10
bankruptcy
False       0.343020  4.689947  0.530553  4.693187
True        0.568076  1.945596  0.568432  1.946747

To select companies that satisfy the condition.

In [20]:
df2=df1[(df1['X1'] < df1['X1'].mean() - df1['X1'].std()) & (df1['X10'] < df1['X10'].mean() - df1['X10'].std())]
df2.head()
print('the number of selected companies:',len(df2))

the number of selected companies: 15

The ratio of the bankrupted companies among the sub-groups:

In [36]:
df3=df2[df2['bankruptcy']==1]
print(len(df3)/len(df2))

0.2